## Introduction

Welcome to the SQL Subqueries lab!

In this lab, you will be working with the [Sakila](https://dev.mysql.com/doc/sakila/en/) database on movie rentals. Specifically, you will be practicing how to perform subqueries, which are queries embedded within other queries. Subqueries allow you to retrieve data from one or more tables and use that data in a separate query to retrieve more specific information.

## Challenge

Write SQL queries to perform the following tasks using the Sakila database:

In [ ]:
-- Subquery to find the film_id for "Hunchback Impossible"
SELECT COUNT(*)
FROM inventory
WHERE film_id = (
    SELECT film_id
    FROM film
    WHERE title = 'Hunchback Impossible'
);

List all films whose length is longer than the average length of all the films in the Sakila database.

In [ ]:
-- Subquery to calculate the average length of all films
SELECT title, length
FROM film
WHERE length > (
    SELECT AVG(length)
    FROM film
);

Use a subquery to display all actors who appear in the film "Alone Trip".

In [ ]:
-- Subquery to find the film_id for "Alone Trip"
SELECT a.actor_id, a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
WHERE fa.film_id = (
    SELECT film_id
    FROM film
    WHERE title = 'Alone Trip'
);